$doc-font-size: 16 !default;

$paragraph-indent: false !default;
$indent-var: 1.3em !default;

$serif: Georgia, Times, serif !default;
$sans-serif: "NanumSquareRoundOTFR", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;